 @font-face{
    /*font-family: 'Aileron-UltraLight';*/
    src: url('../fonts/Aileron-UltraLight.otf');
 }

 body{
 	/*font-family: 'Aileron-UltraLight';*/
 	font-family: 'Open Sans', sans-serif;
 	font-size: 16px;
 	background-color: #FFF;
 }

 a{
 	text-decoration: none;
 	color: #7f8c8d;
 }


 .principal{
 	/*padding: 0;*/
 }

 .bar-1, .bar-2{
 	padding: 0;
 	margin: 0;
 }

 .bar-1 ul li a{
 	color: #FFF !important;
 }

 .bar-1 form button{
 	color: #FFF !important;
 	font-weight: bold;
 }

 .bar-2{
 	background-color: #ecf0f1 !important;
 	color: #2c3e50 !important;
 }


 .bar-2,  ul li a{
 	color: #2c3e50 !important;
 	font-weight: bold;
 }

 .frm-search{
 	font-weight: bold;
 	font-size: 1.6em;
 	/*background-color: #34495e;*/
 }

.logo-inicio{
	padding: 0;
	margin: 0;
}

/*.logo-inicio .share{
	color: #34495e;
	font-size: 1.1em;
	margin-left: 2px;
}*/

.logo-inicio a, .auth{
	margin-top: 12px;
	font-weight: bold;
}
.menu2{
	text-align: center;
	margin-top: 15px;
	margin-left: 60px;
	font-weight: bold;

}

ul li a{
	color:#FFF;
}
.logo-inicio span{
	font-size: 1.4em;
}

.carrito span{
	margin-left: 8px;
}

.carrito i{
	font-size: 1.5em;
}
.avatar img{
	width: 40px;
	border-radius: 50%;
	padding: 0;
	margin: 0;
	margin-right: 10px;
}

.notification{
	margin-top: 6px;
	font-size: 1.8em;
	margin-right: 20px;
}

.notification span{
	font-size: 0.6em;
	position: absolute;
}


/*vista home*/
.view_home{
	margin-bottom: 85px;
}
.home{
	/*font-family: 'Aileron-UltraLight';*/
	background-color: #FFF;
	color: #2c3e50 !important;
	margin: 0;
	padding: 0;
	margin-top: 29px;
}

.home h3{
	padding: 0;
	margin: 0;
	margin-bottom: 18px;
}

.home p{
	font-size: 16px;
}

.home, li, a{
	list-style: none;
	text-decoration: none;
	color: #7f8c8d;
}
.home a{
	color: #7f8c8d !important;
}
.home a:hover{
 	text-decoration: none;
 	color: #ff5722 !important;
 }
 .home a:active{
 	text-decoration: none;
 	color: #ff5722 !important;
 }

.home ul li{
	font-size: 1.2em;
}

.home .ver-mas{
	float: right;
	font-size: 0.5em;
	/*font-style: italic;*/
	margin-right: 15px;
	padding: 6px;
	background-color: #34495e;
	color: #FFF !important;
}

.home .ver-mas:hover{
	text-decoration: none;
	background-color: #2c3e50;
}

.home .dias{
	float: right;
}
 /*fin home*/



/*Login*/
.login{
	margin-top: 60px;
	margin-bottom: 120px;
}

#login{
	opacity: 0.5;
}

.login .panel{
	width: 440px;
	margin: 0 auto;
	padding: 20px;
}

.btn-facebook {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #2b4b90;
  *background-color: #133783;
  background-image: -moz-linear-gradient(top, #3b5998, #133783);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#3b5998), to(#133783));
  background-image: -webkit-linear-gradient(top, #3b5998, #133783);
  background-image: -o-linear-gradient(top, #3b5998, #133783);
  background-image: linear-gradient(to bottom, #3b5998, #133783);
  background-repeat: repeat-x;
  border-color: #133783 #133783 #091b40;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  margin-bottom: 20px;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff3b5998', endColorstr='#ff133783', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

.btn-facebook:hover,
.btn-facebook:focus,
.btn-facebook:active,
.btn-facebook.active,
.btn-facebook.disabled,
.btn-facebook[disabled] {
  color: #ffffff;
  background-color: #133783;
  *background-color: #102e6d;
}

.btn-facebook:active,
.btn-facebook.active {
  background-color: #0d2456 \9;
}

/*fin Login*/



/*Account*/
.account{
	/*font-family: 'Aileron-UltraLight';*/
	background-color: #FFF;
	color: #2c3e50 !important;
	margin: 0;
	padding: 0;
	margin-top: 40px;
	margin-bottom: 110px;
}

 .bar-account{
 	background-color: #34495e !important;
 	color: #FFF !important;
 }

 .bar-account  ul li a{
 	color: #FFF !important;
 }

 .account .perfil .info{
 	text-align: center;
 }

 .account .perfil img{
 	width: 250px;
 	border-radius: 50%;
 }

 .account .perfil .direccion{
 	font-style: italic;
 	font-size: 14px;
 	margin-top: 20px;
 }

 .account .perfil .direccion p{
 	padding: 0;
 	margin:0;
 }

.account .perfil .info-articulos{
	margin-top: 20px;
}

.account .perfil .info-articulos div{
	display: inline-block;
	text-align: center;
	padding-right: 40px;
}

.account .perfil .eliminar{
	margin-top: 40px;
}

.account .edit-title{
	margin-bottom: 40px;
	text-align: center;
}

 /*end Account*/




/*Publicar*/
.publicar{
	/*font-family: 'Aileron-UltraLight';*/
	background-color: #FFF;
	color: #2c3e50 !important;
	margin: 0;
	padding: 0;
	margin-top: 32px;
	margin-bottom: 110px;
}

.publicar .info-articulo{
	margin-bottom: 40px;
}

.publicar .info-articulo h1, p{
	padding: 0;
	margin: 0;
}

.publicar .text{
	background-color: #ecf0f1;
	padding: 2px;
	border-radius: 4px;
}
.publicar .text span{
	font-size: 1em;
	/*background-color: #bdc3c7;*/
	background-color: #ecf0f1;
	margin: 0;
	border-radius: 2px;
}

.publicar .btn-publicar{
	/*float: right;*/
	margin-top: 14px;
}

.publicar .descripcion{
	margin: 15px;
}
.publicar .recomendaciones h2{
	float: right;
}

/*end Publicar*/


/*Articulo*/

.articulo{
	/*font-family: 'Aileron-UltraLight';*/
	background-color: #FFF;
	color: #2c3e50 !important;
	margin: 0;
	padding: 8px;
	/*margin-top: 32px;*/
	/*margin-bottom: 110px;*/
}

.articulo .detalle-articulo img{
	width: 120px;
}

.articulo .info_articulo{
	margin: 0;
	padding: 0;
}

.articulo .data{
	margin-top: 20px;
}

.articulo .data p{
	margin-bottom: 16px;
}

.articulo .data .publicacion span{
	font-style: italic;
	margin-right: 19px;
}

.articulo .data .valor_articulo{
	font-size: 1.2em;
}

.articulo .usuario_articulo{
	text-align: center;
}

.articulo .usuario_articulo p{
	font-weight: bold;
	margin-top: 8px;
}
.articulo .usuario_articulo img{
	width: 132px;
	border-radius: 50%;
}

.articulo .usuario_articulo .btn-accion{
	margin-top: 28px;
}

.frm-comentarios{
	margin-bottom: 34px;
}

.mapa{
	margin: 0;
	padding: 0;
}

#map-section {
    width: 100%;
    overflow: hidden;
    position: relative;
    background-color: #ffffff;
}
#map-canvas {
    width: 100%;
    height: 380px;
    position: relative;
}

/*fin Articulo*/


/*Categoria*/
.categoria{
	/*font-family: 'Aileron-UltraLight';*/
	background-color: #FFF;
	color: #2c3e50 !important;
	margin: 0;
	padding: 0;
}

.categoria h1{
	font-size: 1.6em;
	text-align: center;
	margin-top: 40px;
	text-transform: capitalize;
	color: #7f8c8d !important;
}

.categoria .count_articulo{
	font-size: 0.8em;
	font-weight: bold;
	/*color: #FFF;
	background-color: #ff5722;
	padding: 6px;
	border-radius: 50%*/
}

.categoria li, a{
	list-style: none;
	text-decoration: none;
	color: #7f8c8d;
}
.categoria a{
	color: #7f8c8d !important;
}
.categoria a:hover{
 	text-decoration: none;
 	color: #ff5722 !important;
 }
 .categoria a:active{
 	text-decoration: none;
 	color: #ff5722 !important;
 }

.categoria ul li{
	font-size: 1.2em;
}

.categoria .ordenar {
	/*float: right;*/
	font-size: 1.4em;
	/*margin-top: 10px;*/
	/*margin-left: 12px;*/
}

.categoria .dias{
	float: right;
	font-weight: bold;
}
/*fin Cetegoria*/


/*Carrito*/
.carrito .total{
	text-align: right;
	text-transform: uppercase;
	color: #34495e;
	margin-right: 68px;
	margin-top: 20px;
	margin-bottom: 20px;
}

.carrito .confirmar{
	text-align: right;
	text-transform: uppercase;
	margin-top: 10px;
	margin-right: 20px;
}

.carrito .total span{
	font-size: 2em;
	font-weight: bold;
}
.pago-stripe{
	margin-top: 45px;
	text-align: center;
}
/*fin Carrito*/


 /*footer*/
.footer{
	margin: 0;
	padding: 0;
	background-color: #2c3e50;
	color: #FFF !important;
	height: 160px;
	text-align: center;
}

.footer a{
	color: #FFF !important;
}

.footer a:hover{
	color: #ff5722 !important;
}

.footer p{
	margin-top: 40px;
}

.footer .social a{
	font-size: 1.8em;
	padding: 5px;
}

 /*fin footer*/


 .dropdown ul li a{
 	color: #7f8c8d !important;
 }
  .dropdown ul li a:hover{
 	color: #fff !important;
 }
   .dropdown ul li:hover{
 	background-color: #ff5722 !important;
 }