<script>
$(document).ready(function() {
    $(document).ready(function() {
        $.material.init();
    });
});
</script>



<!-- barra de categorias -->

<div class="navbar navbar bar-2">
    <div clas="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>

        <div class="container-fluid">
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a href="bootstrap-elements.html" data-target="#" class="dropdown-toggle" data-toggle="dropdown">Categorias <b class="caret"></b></a>
                        <ul class="dropdown-menu Categorias-Menu">
                            <li class="Categorias-item"><a class="Categorias-link" href="javascript:void(0)">Libros</a></li>
                            <li class="Categorias-item"><a class="Categorias-link" href="javascript:void(0)">Musica</a></li>
                            <li class="Categorias-item"><a class="Categorias-link" href="javascript:void(0)">Peliculas</a></li>
                            <li class="Categorias-item"><a class="Categorias-link" href="javascript:void(0)">Accesorios</a></li>
                            <li class="Categorias-item"><a class="Categorias-link" href="javascript:void(0)">Juguetes</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>


<div class="container">
    <div class="row home">
        <div class="col-md-12 ">
            <h3>Categoria Juegos <a class="ver-mas" href="#">Ver más</a></h3>

            <a href="#">
                <div class="col-md-3">
                    <div class="panel panel-default">
                        <div class="panel-body articulo ">
                            <img class="img-responsive" src="images/avatar.jpg" alt="Articulo">

                            <div class="info-articulo">
                                <h4>Libro de ruby on rails</h4>
                                <p>Libro de ruby on rails Libro de ruby on rails Libro de ruby on rails Libro de ruby</p>
                            </div>
                        </div>
                        <div class="panel-footer"><span class="label label-warning">CO $20.000</span>  <span class="dias">30 días</span></div>
                    </div>
                </div>
            </a>

            <a href="#">
                <div class="col-md-3">
                    <div class="panel panel-default">
                        <div class="panel-body articulo ">
                            <img class="img-responsive" src="images/avatar.jpg" alt="Articulo">

                            <div class="info-articulo">
                                <h4>Libro de ruby on rails</h4>
                                <p>Libro de ruby on rails Libro de ruby on rails Libro de ruby on rails Libro de ruby</p>
                            </div>
                        </div>
                        <div class="panel-footer"><span class="label label-warning">CO $20.000</span>  <span class="dias">30 días</span></div>
                    </div>
                </div>
            </a>

            <a href="#">
                <div class="col-md-3">
                    <div class="panel panel-default">
                        <div class="panel-body articulo ">
                            <img class="img-responsive" src="images/avatar.jpg" alt="Articulo">

                            <div class="info-articulo">
                                <h4>Libro de ruby on rails</h4>
                                <p>Libro de ruby on rails Libro de ruby on rails Libro de ruby on rails Libro de ruby</p>
                            </div>
                        </div>
                        <div class="panel-footer"><span class="label label-warning">CO $20.000</span>  <span class="dias">30 días</span></div>
                    </div>
                </div>
            </a>

            <a href="#">
                <div class="col-md-3">
                    <div class="panel panel-default">
                        <div class="panel-body articulo ">
                            <img class="img-responsive" src="images/avatar.jpg" alt="Articulo">

                            <div class="info-articulo">
                                <h4>Libro de ruby on rails</h4>
                                <p>Libro de ruby on rails Libro de ruby on rails Libro de ruby on rails Libro de ruby</p>
                            </div>
                        </div>
                        <div class="panel-footer"><span class="label label-warning">CO $20.000</span>  <span class="dias">30 días</span></div>
                    </div>
                </div>
            </a>

        </div>
    </div>






    <div class="row home">
        <div class="col-md-12">
            <h3>Categoria Libros <a class="ver-mas" href="#">Ver más</a></h3>

            <a href="#">
                <div class="col-md-3">
                    <div class="panel panel-default">
                        <div class="panel-body articulo ">
                            <img class="img-responsive" src="images/avatar.jpg" alt="Articulo">

                            <div class="info-articulo">
                                <h4>Libro de ruby on rails</h4>
                                <p>Libro de ruby on rails Libro de ruby on rails Libro de ruby on rails Libro de ruby</p>
                            </div>
                        </div>
                        <div class="panel-footer"><span class="label label-warning">CO $20.000</span>  <span class="dias">30 días</span></div>
                    </div>
                </div>
            </a>

            <a href="#">
                <div class="col-md-3">
                    <div class="panel panel-default">
                        <div class="panel-body articulo ">
                            <img class="img-responsive" src="images/avatar.jpg" alt="Articulo">

                            <div class="info-articulo">
                                <h4>Libro de ruby on rails</h4>
                                <p>Libro de ruby on rails Libro de ruby on rails Libro de ruby on rails Libro de ruby</p>
                            </div>
                        </div>
                        <div class="panel-footer"><span class="label label-warning">CO $20.000</span>  <span class="dias">30 días</span></div>
                    </div>
                </div>
            </a>

            <a href="#">
                <div class="col-md-3">
                    <div class="panel panel-default">
                        <div class="panel-body articulo ">
                            <img class="img-responsive" src="images/avatar.jpg" alt="Articulo">

                            <div class="info-articulo">
                                <h4>Libro de ruby on rails</h4>
                                <p>Libro de ruby on rails Libro de ruby on rails Libro de ruby on rails Libro de ruby</p>
                            </div>
                        </div>
                        <div class="panel-footer"><span class="label label-warning">CO $20.000</span>  <span class="dias">30 días</span></div>
                    </div>
                </div>
            </a>

            <a href="#">
                <div class="col-md-3">
                    <div class="panel panel-default">
                        <div class="panel-body articulo ">
                            <img class="img-responsive" src="images/avatar.jpg" alt="Articulo">

                            <div class="info-articulo">
                                <h4>Libro de ruby on rails</h4>
                                <p>Libro de ruby on rails Libro de ruby on rails Libro de ruby on rails Libro de ruby</p>
                            </div>
                        </div>
                        <div class="panel-footer"><span class="label label-warning">CO $20.000</span>  <span class="dias">30 días</span></div>
                    </div>
                </div>
            </a>

        </div>
    </div>
    <div class="row home">
        <div class="col-md-12">
            <h3>Categoria Campin<a class="ver-mas" href="#">Ver más</a></h3>
            <a href="#">
                <div class="col-md-3">
                    <div class="panel panel-default">
                        <div class="panel-body articulo ">
                            <img class="img-responsive" src="images/avatar.jpg" alt="Articulo">

                            <div class="info-articulo">
                                <h4>Libro de ruby on rails</h4>
                                <p>Libro de ruby on rails Libro de ruby on rails Libro de ruby on rails Libro de ruby</p>
                            </div>
                        </div>
                        <div class="panel-footer"><span class="label label-warning">CO $20.000</span>  <span class="dias">30 días</span></div>
                    </div>
                </div>
            </a>

            <a href="#">
                <div class="col-md-3">
                    <div class="panel panel-default">
                        <div class="panel-body articulo ">
                            <img class="img-responsive" src="images/avatar.jpg" alt="Articulo">

                            <div class="info-articulo">
                                <h4>Libro de ruby on rails</h4>
                                <p>Libro de ruby on rails Libro de ruby on rails Libro de ruby on rails Libro de ruby</p>
                            </div>
                        </div>
                        <div class="panel-footer"><span class="label label-warning">CO $20.000</span>  <span class="dias">30 días</span></div>
                    </div>
                </div>
            </a>

            <a href="#">
                <div class="col-md-3">
                    <div class="panel panel-default">
                        <div class="panel-body articulo ">
                            <img class="img-responsive" src="images/avatar.jpg" alt="Articulo">

                            <div class="info-articulo">
                                <h4>Libro de ruby on rails</h4>
                                <p>Libro de ruby on rails Libro de ruby on rails Libro de ruby on rails Libro de ruby</p>
                            </div>
                        </div>
                        <div class="panel-footer"><span class="label label-warning">CO $20.000</span>  <span class="dias">30 días</span></div>
                    </div>
                </div>
            </a>

            <a href="#">
                <div class="col-md-3">
                    <div class="panel panel-default">
                        <div class="panel-body articulo ">
                            <img class="img-responsive" src="images/avatar.jpg" alt="Articulo">

                            <div class="info-articulo">
                                <h4>Libro de ruby on rails</h4>
                                <p>Libro de ruby on rails Libro de ruby on rails Libro de ruby on rails Libro de ruby</p>
                            </div>
                        </div>
                        <div class="panel-footer"><span class="label label-warning">CO $20.000</span>  <span class="dias">30 días</span></div>
                    </div>
                </div>
            </a>

        </div>
    </div>
</div>
