<script>
$(document).ready(function() {
    $(document).ready(function() {
        $.material.init();
    });
});
</script>

<div class="container">
    <div class="row home">
        <ol class="breadcrumb">
            <li><a href="">Volver al listado</a></li>
            <li><a href="#">Categorias</a></li>
            <li><a href="#">Libros,Revístas y Comics</a></li>
            <li class="active">Libros</li>
        </ol>
        <div class="col-md-12 DetalleArticulo">
            <div class="col-md-12 DetalleArticulo-info">
                <h1> Libro Ruby On Rails</h1>
                <p><span>X</span> Categorias <span>X</span> Compartido <span>410</span></p>
            </div>
            <div class="col-md-6">
                <div class="DetalleArticulo-galeria">
                    <img class="DetalleArticulo-img" src="../images/avatar.jpg" alt="">
                </div>
            </div>
            <div class="col-md-6">
                <h2>Descripción de la publicación</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. In, consequatur alias illum accusantium quae iusto numquam. Quis aliquam alias accusantium iusto nesciunt ea! Nam perferendis, dolores quae dignissimos incidunt sunt!</p>
            </div>
        </div>
    </div>
</div>
