<script>
$(document).ready(function() {
    $(document).ready(function() {
        $.material.init();
    });
});
</script>

<div class="container">
    <section class="row home">
        <ol class="breadcrumb">
            <li><a href="">Volver al listado</a></li>
            <li><a href="#">Categorias</a></li>
            <li><a href="#">Libros,Revístas y Comics</a></li>
            <li class="active">Libros</li>
        </ol>
        <div class="col-md-12 DetalleArticulo">
            <div class="col-md-12 DetalleArticulo-info">
                <h1> Libro Ruby On Rails</h1>
                <p><span>X</span> Categorias <span>X</span> Compartido <span>410</span></p>
            </div>
            <div class="col-md-4">
                <div class="DetalleArticulo-galeria">
                    <img class="DetalleArticulo-img" src="../images/avatar.jpg" alt="">
                </div>
            </div>
            <div class="col-md-8">
                <p>Publicado por <a href="">Andres Hernandez</a></p>
                <p>Categorias : Libros</p>
                <h2>Descripción de la publicación</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. In, consequatur alias illum accusantium quae iusto numquam. Quis aliquam alias accusantium iusto nesciunt ea! Nam perferendis, dolores quae dignissimos incidunt sunt!</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. In, consequatur alias illum accusantium quae iusto numquam. Quis aliquam alias accusantium iusto nesciunt ea! Nam perferendis, dolores quae dignissimos incidunt sunt!</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. In, consequatur alias illum accusantium quae iusto numquam. Quis aliquam alias accusantium iusto nesciunt ea! Nam perferendis, dolores quae dignissimos incidunt sunt!</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt nobis molestiae consectetur cupiditate eligendi impedit dolores consequatur autem quas dolor iste ullam omnis sapiente, fuga quia deserunt modi, ratione qui.</p>
            </div>
            <div class="col-md-12 Informacion">
                <div class="col-md-6">
                    <p class="Informacion-title">Informacion del Prestamista</p>
                    <div class="col-md-12 Informacion-foto">
    					<img src="images/avatar.jpg" alt="Elkin Urango">
                    </div>
                    <div class="col-md-12 Informacion-datos">
                        <p>Andres Hernandez</p>
                        <p>Ciudad : Bogotá,Colombia</p>
                        <p>Biografia</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                        <div class="Informacion-calificacion">
                            <p>Calificaciones</p>
                            <p>Calificacion Media 4.5</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <p class="Informacion-title">Ubicacion del Articulo</p>
                    <div class="Infromacion-mapa">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7953.149757684797!2d-74.12228752843978!3d4.66962173643219!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e3f9b7ed564f881%3A0x17e97c13b3148fb5!2sModelia%2C+Bogot%C3%A1%2C+Bogota%2C+Colombia!5e0!3m2!1ses!2sit!4v1444969832231" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>
        <div class="Preguntas">
            <div class="container">
                <div class="row">
                    <p class="Informacion-title"> Sesión de preguntas</p>
                    <div class="col-md-2 Preguntas-foto">
                        <img src="images/avatar.jpg" alt="Elkin Urango">
                    </div>
                    <div class="col-md-10">
                        Pregunta: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi, commodi ipsa facilis sapiente, nam ut optio consequuntur aliquam quos labore necessitatibus. Praesentium exercitationem eum totam officia voluptatum ex id fugit.
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
