<script>
    $(document).ready(function() {
    	$(document).ready(function() {
            $.material.init();
        });
    });
</script>



<!-- barra de categorias -->

<div class="navbar navbar bar-account">
	<div clas="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
		      <span class="icon-bar"></span>
		      <span class="icon-bar"></span>
		      <span class="icon-bar"></span>
		    </button>
		</div>
		
		<div class="container">
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

		<ul class="nav navbar-nav">
			<li><a href="#/carrito">Mi carrito</a></li>
			<li><a href="#/historial">Mi historial</a></li>
			<li class="active"><a href="#/notification">Notificaciones</a></li>
		</ul>

		<ul class="nav navbar-nav navbar-right carrito" ng-controller="Home">
			<li><a href="#/carrito"><i class="fa fa-cart-arrow-down"></i><span>{{count}}</span></a></li>
		</ul>

		</div>
		</div>
	</div>
</div>


<div class="container view_home" ng-controller="Home">
<div class="row historial">
	<div class="col-md-12">
		<h1>Notificaciones</h1>
		<hr>
		<div class="panel panel-default">
			
		    <div class="panel-heading">
		    	listado de notificaciones
		    </div>
		    <div class="panel-body">
		        <table class="table">
		        	<thead>
			    		<tr style="text-align: center; text-transform: uppercase;">
			    			<th>#</th>
			    			<th>Mensaje</th>
			    			<th>Usuario</th>
			    			<!-- <th>Artículo</th> -->
			    			<th>Valor</th>
			    			<th>Prestar</th>
			    		</tr>
			    	</thead>
			        <tbody>
			        	<tr ng-repeat="notification in notify_no_asignado | filter:{estado:'sin asignar'}">
			        		<td>{{$index+1}}</td>
			        		<td>{{notification.mensaje}}</td>
			        		<td><a href="#/user/{{notification.usuario_demanda}}">{{notification.usuario}}</a></td>
			        		<!-- <td>{{notification.articulo}}</td> -->
			        		<td>{{notification.valor | currency : 'CO$' : 0}}</td>
			        		<td style="text-align: center; ">
			        			<a  ng-click="si(notification.$id)" href="">SI</a>
			        			<a  ng-click="no(notification.$id)" href="">NO</a>
			        		</td>
			        	</tr>

			        	<tr ng-repeat="notify in notify_asignado | filter:{estado:'prestado'}">
			        		<td>{{$index+1}}</td>
			        		<td>{{notify.mensaje}}</td>
			        		<td><a href="#/user/{{notify.usuario_dueno}}">Ver perfil</a></td>
			        		<!-- <td>{{notify.articulo}}</td> -->
			        		<td>{{notify.valor | currency : 'CO$' : 0}}</td>
			        		<td style="text-align: center; ">
			        			<span class="label label-success">Prestado</span>
			        		</td>
			        	</tr>
			        </tbody>
		        </table>
				<hr>
		    </div>
		</div>
	</div>
</div>
</div>

<div class="modal" id="SI">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Confirmar préstamo</h4>
            </div>
            <div class="modal-body">
                <h5>¿Estas seguro que quieres prestar el artículo?</h5>
               <p>Un vez que aceptes prestar tu articulo el usuario podrá realizar el pago corresponpiente para que le entregues el artículo por el tiempo acordado.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Prestar</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="NO">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Confirmar préstamo</h4>
            </div>
            <div class="modal-body">
                <h5>¿Estas seguro que NO quieres prestar el artículo?</h5>
               <p>Un vez que aceptes prestar tu articulo el usuario podrá realizar el pago corresponpiente para que le entregues el artículo por el tiempo acordado.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">No prestar</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>