<script>
    $(document).ready(function() {
    	$(document).ready(function() {
            $.material.init();
        });
    });
</script>


<div class="container">
	<div class="row publicar">
		<div class="col-md-12 ">
			<div class="info-articulo">
				<h1>Publicar artículo</h1>
				<p>Ingrese los siguientes campos para publicar su artículo</p>
			</div>
			<form ng-submit="publicar.publicar()">
				<div class="col-md-4">
					<div class="form-group">
						<label class="label-control" for="articulo">Nombre artículo</label>
						<div class="input-group text">
							<span class="input-group-addon icon-text" id="articulo"><i class="fa fa-pencil-square-o"></i></span>
							<input ng-model="publicar.nombre" class="form-control" type="text" name="articulo" id="articulo">
						</div>
					</div>

					<div class="form-group">
						<label class="label-control" for="categoria">Categoría</label>
						<div class="input-group text">
							<span class="input-group-addon icon-text" id="categoria"><i class="fa fa-server"></i></span>
							<select ng-model="publicar.categoria" class="form-control" name="categoria" id="categoria" ng-options="categoria._id as categoria.nombre for categoria in categorias">
								<option style="display:none" value="">Seleccione</option>
							</select>
						</div>
					</div>

					<div class="form-group">
						<label class="label-control" for="imagenes">Imagenes</label>
						<div class="input-group text">
							<span class="input-group-addon icon-text" id="imagenes"><i class="fa fa-picture-o"></i></span>
							<input  type="text" readonly="" class="form-control floating-label" placeholder="Puede seleccionar varias imagenes">
							<input class="form-control" type="file" name="imagenes" id="imagenes">
						</div>
					</div>
				</div>

				<div class="col-md-4">
					<div class="form-group">
						<label class="label-control" for="valor">Valor</label>
						<div class="input-group text">
							<span class="input-group-addon icon-text" id="valor"><i class="fa fa-money"></i></span>
							<input ng-model="publicar.precio" class="form-control" type="text" name="valor" id="valor"> 
						</div>
						<!-- <span>Total: $</span> -->
					</div>

					<div class="form-group">
						<label class="label-control" for="dias">Dias a prestar</label>
						<div class="input-group text">
							<span class="input-group-addon icon-text" id="dias"><i class="fa fa-calendar-check-o"></i></span>
							<input ng-model="publicar.dias" class="form-control" type="text" name="dias" id="dias"> 
						</div>
					</div>

					<div class="form-group">
						<label class="label-control" for="tipo">Tipo</label>
						<div class="input-group text">
							<span class="input-group-addon icon-text" id="tipo"><i class="fa fa-calendar-check-o"></i></span>
							<select ng-model="publicar.tipo" class="form-control" name="tipo" id="tipo" ng-options="tipo.valor as tipo.nombre for tipo in tipos">
								<option style="display:none" value="">Seleccione</option>
							</select>

						</div>
					</div>

				</div>
				<div class="row">
					<div class="descripcion col-md-8">
						<div class="form-group">
							<label class="label-control" for="desc">Descripción</label>
							<div class="input-group text">
								<span class="input-group-addon icon-text" id="desc"><i class="fa fa-comment-o"></i></span>
								<textarea ng-model="publicar.descripcion" class="form-control" name="" id="" cols="5" rows="5"></textarea>
							</div>

							<div class="form-group btn-publicar">
								<button type="submit" class="btn btn-warning">Publicar artículo</button>
							</div>
						</div>
					</div>
				</div>

			</form>
		</div>
	</div>
</div>

